.portfolio-content {
    /* border: var(--border-width) solid var(--borders); */
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portfolio-item {
    margin: 10px auto 10px auto;
    padding: 6px;
    align-self: center;
    width: 90%;
    height: 250px;

    border: var(--border-width) solid var(--borders);
}

.portfolio-item h4 { margin: 0px; }
.portfolio-item p:first-of-type { margin:0; font-size: 0.80em; }